* {
    box-sizing: border-box;
}

Body{
    background-color: aliceblue;
    margin: 0;
}

.header{
  overflow: hidden;
  background-color: #1b0b7f;
  padding: 20px 10px;
    
    
}

.header a.logo{
    display:inline;
    font-size: 50px;
    float: left;
    color: aliceblue;
    font-weight: bold
}
.header a{
    float: right;
    color:aliceblue;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    box-shadow: 0 0 5px darkgray;
}



 
